{% extends 'base.html' %}
{% load staticfiles %}

{%  block morehead %} <link href="{% static "pacific/static.css" %}" rel="stylesheet"> {%  endblock %}
{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Guadalcanal
			</h3>
			<p style="color:yellow">
				The Guadalcanal Campaign, also known as the Battle of Guadalcanal and codenamed Operation Watchtower by Allied forces, was a military campaign fought between 7 August 1942 and 9 February 1943
                on and around the island of Guadalcanal in the Pacific theatre of World War II. It was the first major offensive by Allied forces against the Empire of Japan. On 7 August 1942, Allied forces,
                predominantly American, landed on the islands of Guadalcanal, Tulagi, and Florida in the southern Solomon Islands with the objective of denying their use by the Japanese to threaten the supply
                and communication routes between the US, Australia, and New Zealand. The Allies also intended to use Guadalcanal and Tulagi as bases to support a campaign to eventually capture or neutralize the
                major Japanese base at Rabaul on New Britain. The Allies overwhelmed the outnumbered Japanese defenders, who had occupied the islands since May 1942, and captured Tulagi and Florida, as well as an
                airfield (later named Henderson Field) that was under construction on Guadalcanal. Powerful US naval forces supported the landings.Surprised by the Allied offensive, the Japanese made several attempts
                between August and November 1942 to retake Henderson Field. Three major land battles, seven large naval battles (five nighttime surface actions and two carrier battles), and continual, almost daily aerial
                battles culminated in the decisive Naval Battle of Guadalcanal in early November 1942, in which the last Japanese attempt to bombard Henderson Field from the sea and land with enough troops to retake it
                was defeated. In December 1942, the Japanese abandoned further efforts to retake Guadalcanal and evacuated their remaining forces by 7 February 1943 in the face of an offensive by the US Army's XIV Corps,
                conceding the island to the Allies. The Guadalcanal campaign was a significant strategic combined arms victory by Allied forces over the Japanese in the Pacific theatre. The Japanese had reached the
                peak of their conquests in the Pacific, and Guadalcanal marked the transition by the Allies from defensive operations to the strategic offensive in that theatre and the beginning of offensive operations,
                including the Solomon Islands, New Guinea, and Central Pacific campaigns, that resulted in Japan's eventual surrender and the end of World War II.
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Tarawa
			</h3>
			<p style="color:yellow">
				The Battle of Tarawa (US code name Operation Galvanic) was a battle in the Pacific Theater of World War II, fought from November 20 to November 23, 1943. It took place at the Tarawa Atoll in the
                Gilbert Islands. Nearly 6,400 Japanese, Koreans, and Americans died in the fighting, mostly on and around the small island of Betio.The Battle of Tarawa was the first American offensive in the
                critical central Pacific region. It was also the first time in the war that the United States faced serious Japanese opposition to an amphibious landing. Previous landings met little or no
                initial resistance, but this time the 4,500 Japanese defenders were well-supplied and well-prepared, and they fought almost to the last man, exacting a heavy toll on the United States Marine Corps.
                The U.S. had suffered similar casualties in other campaigns, for example over the six months of the Guadalcanal Campaign, but in this case the losses were incurred within the space of 76 hours.The Gilbert
                Islands are part of Micronesia. They became a colony of the British Empire in January 1916. They were invaded and occupied by the Empire of Japan in December 1941. In July 1979 the islands became
                independent from the United Kingdom and now comprise the nation of Kiribati.
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Saipan
			</h3>
			<p style="color:yellow">
				The Battle of Saipan was a battle of the Pacific campaign of World War II, fought on the island of Saipan in the Mariana Islands from 15 June–9 July 1944. The Allied invasion fleet embarking
                the expeditionary forces left Pearl Harbor on 5 June 1944, the day before Operation Overlord in Europe was launched. The U.S. 2nd Marine Division, 4th Marine Division, and 27th Infantry Division,
                commanded by Lieutenant General Holland Smith, defeated the 43rd Division of the Imperial Japanese Army, commanded by Lieutenant General Yoshitsugu Saito.
            </p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Peleliu
			</h3>
			<p style="color:yellow">
                The Battle of Peleliu, codenamed Operation Stalemate II, was fought between the United States and the Empire of Japan in the Pacific Theater of World War II, from September–November 1944 on the island of
                Peleliu, present-day Palau. U.S. Marines of the First Marine Division and later soldiers of the U.S. Army's 81st Infantry Division, fought to capture an airstrip on the small coral island. This battle
                was part of a larger offensive campaign known as Operation Forager which ran from June–November 1944 in the Pacific Theater of Operations. Major General William Rupertus, USMC—commander of 1st
                Marine Division—predicted the island would be secured within four days. However, due to Japan's well-crafted fortifications and stiff resistance, the battle lasted over two months.
                In the United States, it was a controversial battle because of the island's questionable strategic value and the high casualty rate, which exceeded all other amphibious operations during
                the Pacific War. The National Museum of the Marine Corps called it "the bitterest battle of the war for the Marines".
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Iwo Jima
			</h3>
			<p style="color:yellow">
                The Battle of Iwo Jima (19 February – 26 March 1945), or Operation Detachment, was a major battle in which the United States Armed Forces fought for and captured the island of Iwo Jima from the
                Japanese Empire. The American invasion had the goal of capturing the entire island, along with its three airfields (including the South Field and the Central Field), to provide a staging area for
                attacks on the Japanese main islands. This five-week battle comprised some of the fiercest and bloodiest fighting of the War in the Pacific of World War II. After the heavy losses incurred in the battle,
                the strategic value of the island became controversial. It was useless to the U.S. Army as a staging base and useless to the U.S. Navy as a fleet base. However, Navy SEABEES rebuilt the landing strips,
                which were used as emergency landing strips for USAAF B-29s. The Imperial Japanese Army positions on the island were heavily fortified, with a dense network of bunkers, hidden artillery positions,
                and 18 km (11 mi) of underground tunnels. The Americans on the ground were supported by extensive naval artillery and complete air supremacy over Iwo Jima from the beginning of the battle by U.S. Navy
                and Marine Corps aviators. Iwo Jima was also the only battle by the U.S. Marine Corps in which the American casualties exceeded the Japanese, although Japanese combat deaths numbered three times as many
                American deaths. Of the 22,000 Japanese soldiers on Iwo Jima at the beginning of the battle, only 216 were taken prisoner, some of whom were captured because they had been knocked unconscious or otherwise
                disabled. The majority of the remainder were killed in action, although it has been estimated that as many as 3,000 continued to resist within the various cave systems for many days afterwards,
                eventually succumbing to their injuries or surrendering weeks later. Despite the bloody fighting and severe casualties on both sides, the Japanese defeat was assured from the start. Overwhelming
                American superiority in arms and numbers as well as complete control of air power — coupled with the impossibility of Japanese retreat or reinforcement — permitted no plausible circumstance in which
                the Americans could have lost the battle. The battle was immortalized by Joe Rosenthal's photograph of the raising of the U.S. flag on top of the 166 m (545 ft) Mount Suribachi by five U.S. Marines
                and one U.S. Navy battlefield Hospital Corpsman. The photograph records the second flag-raising on the mountain, both of which took place on the fifth day of the 35-day battle. Rosenthal's photograph
                promptly became an indelible icon — of that battle, of that war in the Pacific, and of the Marine Corps itself — and has been widely reproduced.
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Guam
			</h3>
			<p style="color:yellow">
                The First Battle of Guam was an engagement during the Pacific War in World War II, and took place on 8 December 1941 on Guam in the Mariana Islands between the Empire of Japan and the United States.
                The American garrison was defeated by Japanese forces, which resulted in an occupation until the Second Battle of Guam in 1944.

                The Second Battle of Guam (21 July – 10 August 1944) was the American capture of the Japanese held island of Guam, a United States territory (in the Mariana Islands) during the Pacific campaign of World War II.
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 style="color:yellow">
				Okinawa
			</h3>
			<p style="color:yellow">
                The Battle of Okinawa, codenamed Operation Iceberg, was fought on the Ryukyu Islands of Okinawa and was the largest amphibious assault in the Pacific War of World War II. The 82-day-long battle lasted
                from early April until mid-June 1945. After a long campaign of island hopping, the Allies were approaching Japan, and planned to use Okinawa, a large island only 340 mi (550 km) away from mainland Japan,
                as a base for air operations on the planned invasion of Japanese mainland (coded Operation Downfall). Four divisions of the U.S. 10th Army (the 7th, 27th, 77th, and 96th) and two Marine Divisions
                (the 1st and 6th) fought on the island. Their invasion was supported by naval, amphibious, and tactical air forces. The battle has been referred to as the "typhoon of steel" in English, and tetsu no ame
                ("rain of steel") or tetsu no bōfū ("violent wind of steel") in Japanese. The nicknames refer to the ferocity of the fighting, the intensity of kamikaze attacks from the Japanese defenders,
                and to the sheer numbers of Allied ships and armored vehicles that assaulted the island. The battle resulted in the highest number of casualties in the Pacific Theater during World War II.
                Based on Okinawan government sources, mainland Japan lost 77,166 soldiers, who were either killed or committed suicide, and the Allies suffered 14,009 deaths (with an estimated total of more than 65,000
                casualties of all kinds). Simultaneously, 42,000–150,000 local civilians were killed or committed suicide, a significant proportion of the local population. The atomic bombings of Hiroshima and
                Nagasaki together with the Soviet invasion of Manchuria caused Japan to surrender less than two months after the end of the fighting on Okinawa.
			</p>
		</div>
	</div>
</div>

{%  endblock %}