{% extends 'base.html' %}
{% load staticfiles %}
{%  block morehead %} <link href="{% static "pacific/static.css" %}" rel="stylesheet"> {%  endblock %}
{% block content %}
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul >
				<li style="color:yellow;background-color:red">
                    <h3>
					    <a href="http://terminallance.com/" style="color:yellow">Terminal Lance</a>
                    </h3>
				</li>
				<li style="color:yellow;background-color:red">
                    <h3>
					    <a href="http://www.marines.com/home?WT.srch=1&WT.mc_id=G_Brand_Top_Perf1496" style="color:yellow">United States Marine Corps</a>
				    </h3>
                </li>
				<li style="color:yellow;background-color:red">
                    <h3>
					    <a href="http://www.marinecorpstimes.com/"style="color:yellow">Marine Times</a>
                    </h3>
				</li>
				<li style="color:yellow;background-color:red">
                    <h3>
					    <a href="http://www.va.gov/" style="color:yellow">Veteran Affairs</a>
                    </h3>
				</li>
				<li style="color:yellow;background-color:red">
                    <h3>
					    <a href="https://www.mcsf.org/" style="color:yellow">Marine Corps Scholarship Foundation</a>
				    </h3>
                </li>
			</ul>
		</div>
	</div>
</div>
</body>
{% endblock %}

