{% extends 'base.html' %}
{% load staticfiles %}

{%  block morehead %} <link href="{% static "pacific/static.css" %}" rel="stylesheet"> {%  endblock %}
{% block content %}
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="294x400" src="http://www.ww2gyrene.org/assets/poster_wegetaround.jpg">
						<div class="caption">
							<h3 style="color: yellow">
								World War II Pacific battle maps.
							</h3>
							<p style="color: yellow">
								Map displaying the seven major battles of the Pacific War.
							</p>
							<p>
								<a class="btn btn-primary" href="{% url "pacific:war_maps" %}">Battle Maps</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="294x400" src="http://30.media.tumblr.com/u8TZn2GMO2o18inaPH1988CL_500.jpg">
						<div class="caption">
							<h3 style="color: yellow">
								World War II battle history.
							</h3>
							<p style="color: yellow">
								Brief history of the Battles of the Pacific war.
							</p>
							<p>
								<a class="btn btn-primary" href="{% url "pacific:history" %}">History</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://www.mclpikespeak.org/images/flags.gif">
						<div class="caption">
							<h3 style="color: yellow">
								Links
							</h3>
							<p style="color: yellow">
								Common links that every Marine should know.
							</p>
							<p>
								<a class="btn btn-primary" href="{%  url "pacific:links" %}">Links</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
{%  endblock %}
